#about {
  display: flex;
  flex-direction: column;
  flex: 1;

  article {
    width: 60%;
    margin: 0 10%;
    margin-bottom: 15vh;

    h1 {
      margin-bottom: 1rem;
    }

    p {
      text-align: justify;
      font-size: large;
      font-weight: bold;
      color: #8a8a8a;

      strong {
        color: var(--text2);
        font-size: x-large;
      }
    }
  }

  .float-left {
    align-self: flex-start;
  }

  .float-right {
    align-self: flex-end;
  }
}
