*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

$font-heading: 'IBM Plex Sans', sans-serif;
$font-body: 'Inter', sans-serif;

h1, h2, h3, h4 {
  font-family: $font-heading;
}

html {
  scroll-behavior: smooth;
  scrollbar-width: none;
}

body {
  font-family: $font-body;
}

main {
  padding-top: 11vh; /* matches your navbar height */
}

section {
    scroll-margin-top: 11vh;
    width: 100%;
    min-height: 89vh;
    color: var(--text);
    padding: 10vh 0;

    /*border-bottom: 0.1rem solid var(--text2);*/
}

p {
  color: var(--text2);
}