#project {
    display: flex;
    flex-direction: column;
    align-items: center;

    & > p {
        width: 80%;
        text-align: justify;
        margin-top: 5vh;
        margin-bottom: 8vh;
        font-size: large;
        font-weight: bold;
        color: #8a8a8a;
        text-indent: 2em;
    }

    .cards {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        gap: 2.6%;
        width: 100%;

        article {
            display: flex;
            flex-direction: column;

            width: 25%;
            height: 35vw;
            background-color: var(--bg);
            border: 0.1rem solid var(--text2);
            border-radius: 1rem;
            
            transition: transform 0.5s;

            img {
                width: 90%;
                margin: 5%;
                margin-bottom: 5%;
                border-radius: 5%;
                align-self: center;
            }

            h2 {
                margin-left: 9%;
                font-size: large;
            }

            p {
                margin-top: 0.5rem;
                width: 90%;
                text-align: left;
                margin-left: 5%;

                flex: 1;
            }

            .tags {
                display: flex;
                flex-wrap: wrap;
                align-content: flex-start;
                justify-content: flex-start;
                align-content: flex-start;
                gap: 0.2rem;

                width: 80%;
                margin: 1.5rem 9%;

                span {
                    display: inline-flex;
                    align-items: center;
                    justify-content: center;

                    height: 1.75rem;
                    padding: 0.75rem;

                    font-weight: bold;
                    background-color: #a855f733;
                    border: 0.1rem solid #a855f74d;
                    border-radius: 5%;
                    font-size: small;
                }
            }

            .more {
                display: grid;;
                grid-template-columns: 3fr 1fr;
                width: 90%;
                margin-left: 3%;
                margin-bottom: 8%;
                height: 2.25rem;

                button {
                    background: transparent;
                    border: none;
                    padding: 0;
                    font: inherit;
                    cursor: pointer;
                    color: rgb(192 132 252);
                    font-weight: bold;

                    display: inline-flex;
                    align-items: center;
                    justify-content: center;
                }

                a {
                    color: rgb(192 132 252);
                    text-decoration: none;
                    background-color: #a855f733;
                    border: 1px solid #e5e7eb;
                    border-radius: 5%;
                    padding-left: 0.75rem;
                    padding-right: 0.75rem;

                    display: inline-flex;
                    align-items: center;
                    justify-content: center;
                }
            }
        }

        article:hover {
            transform: scale(1.1);
        }
    }
}